.js_compImageCutter {
    position: relative;

    width: 300px;
    height: 300px;
    overflow: hidden;

    background: #ccc;
    text-align: center;
    vertical-align: middle;
}

.js_compImageCutter img {
    position: absolute;
}

.js_compImageCutter .cic_btn {
    background: #0a7cca;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin: 0px!important;
    padding: 0px!important;
    border: none!important;
    position: absolute;
    display: none;
}

.js_compImageCutter .cic_btnTl {
    cursor: nw-resize;
}

.js_compImageCutter .cic_btnTc {
    cursor: n-resize;
}

.js_compImageCutter .cic_btnTr {
    cursor: ne-resize;
}

.js_compImageCutter .cic_btnMl {
    cursor: w-resize;
}

.js_compImageCutter .cic_btnMr {
    cursor: e-resize;
}

.js_compImageCutter .cic_btnBl {
    cursor: sw-resize;
}

.js_compImageCutter .cic_btnBc {
    cursor: s-resize;
}

.js_compImageCutter .cic_btnBr {
    cursor: se-resize;
}

.js_compImageCutter .cic_mask {
    position: absolute;
    background: #000;
    opacity: .35;
    filter: alpha( opacity = 35 );
}

.js_compImageCutter .cic_dragMain {
    position: absolute;
    background: #fff;
    opacity: .0;
    filter: alpha( opacity = 0 );
}

.js_compImageCutter .cic_move {
    cursor: move!important;
}

.js_compImageCutter .CIC_ERROR {
    margin-top: 80px;
    color: red !important;
    vertical-align: middle;
    display: none;
}

.cic_previewItem {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}

.cic_previewItem img {
    position: absolute;
}
