.js_compImageCutter {
    position: relative;

    width: 300px;
    height: 300px;
    overflow: hidden;

    background: #ccc;
    text-align: center;
    vertical-align: middle;
}

.js_compImageCutter img {
    position: absolute;
}

.js_compImageCutter .cic_btn {
    background: #0a7cca;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin: 0px!important;
    padding: 0px!important;
    border: none!important;
    position: absolute;
    display: none;
}

