.js_compCover { overflow: hidden; }
.js_compCover * { margin: 0; padding: 0; }
.js_compCover ul { list-style: none; overflow: hidden; *zoom: 1; }
.js_compCover li { float: left; position: relative; overflow: hidden; }
.js_compCover button {  color: #fff; }
.cover-itembg1 { background: #0da4d6; }
.cover-itembg2 { background: #35c4ef; }
.cover-box { border-color: #fff; border-style: solid; }
.cover-mod1 button { font-size: 14px; }
.cover-mod2 button { font-size: 16px; font-weight: bold; }
.cover-mod3 button { font-size: 18px; font-weight: bold; }
.cover-cover { position: absolute; border: none; background: #000; opacity: 0.8; }

.js_compCover button.cover-cover *{
    color: #fff!important;
    text-decoration: none;
}
