.js_compCover * { margin: 0; padding: 0; }
.cover-cover { position: absolute; border: none; background: #000; opacity: 0.8; }
.js_compCover button.cover-cover *{
    color: #fff!important;
    text-decoration: none;
}
