.js_compTableFreeze{
    zoom:1;
    clear: both;
    overflow: hidden;

}
.js_compTableFreeze .js-fixed-table,
.js_compTableFreeze .js-roll-table{
    float: left;
}
.js_compTableFreeze .js-roll-table{
    overflow-x:auto ;

}
.js_compTableFreeze .js-roll-table table{
    width: 120%;
} 
