.js_compDragSelect .js_cdsSelecteClass, .js_compDragSelect .js_cdsSelecteClass * {
    background: #F0DC82!important;
    color: #000!important;
}

.js_compDragSelect .js_cdsUnselectClass, .js_compDragSelect .js_cdsUnselectClass * {
}

.js_compDragSelect .js_pos_canSelect {
    background: #c1e0fe!important;
    color: #61b0ff!important;
}

.js_compDragSelect .js_pos_selected {
    background: #008000!important;
    color: #f2f2f2!important;
}

.js_compDragSelect .js_pos_locked {
    background: #ccc!important;
    color: #000!important;
}

.js_compDragSelect .js_pos_unlocked {
    background: #eee!important;
    color: #000!important;
}
