.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.hslide_wra, .hslide_wra *{ margin: 0; padding: 0; }
.hslide_wra img{ border: none; }
.hslide_wra{ 
    border-collapse: collapse;
}

.hslide_wra .hslide_left a, .hslide_wra .hslide_right a{ 
    background: url(images/scroll_h.png) no-repeat scroll -30px 0 transparent; 
    width:30px; 
    height:50px; 
    display:block; 
    overflow:hidden; 
    text-indent:-9999px;
}
.hslide_wra .hslide_right a{ background-position:0 0;}
.hslide_wra .hslide_left a:hover{background-position:-95px 0;}
.hslide_wra .hslide_right a:hover{background-position:-60px 0;}

.hslide_wra .hslide_list{
    /*overflow: hidden;*/
    position: relative;
}
.hslide_wra .hslide_list dd{ position: absolute; }

.hslide_nav { position: absolute; right: 10px; bottom: 4px; height: 20px; }

.slide_navbtn { float: left; }

.hslide_navicon { height: 100%; width: 20px; text-indent: -9999px; background: url(images/nav_unselect.png) no-repeat center center; }

.hslide_nav .hslide_navicon.slide_on { background: url(images/nav_select.png) no-repeat center center; }

.hslide_navnum { height: 16px; line-height: 16px; width: 16px; margin-left: 5px; font-size: 12px;  text-align: center; text-decoration: none; background: #333; color: #eee; }

.hslide_nav .hslide_navnum.slide_on { background: #3eaf0e; }