.js_compNumericStepper .cnsIcon {
    width: 20px; 
    height: 20px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    /*margin-top: -6px;*/
}

.js_compNumericStepper .cnsMinus {
    background: transparent url(./images/minus_20x20.png) no-repeat;
}

.js_compNumericStepper .cnsPlus {
    background: transparent url(./images/plus_20x20.png) no-repeat;
}
