
.js_compFlowChart {

}

.js_compFlowChart .js_cfcContainer, .js_compFlowChart .js_cfcLayout, .js_compFlowChart .js_cfcRaphael, .js_compFlowChart .js_cfcBox{
    margin: 0!important;
    padding: 0!important;
}

.js_compFlowChart .js_cfcContainer{
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px!important;
}

.js_compFlowChart  .js_cfcRaphael{
}

.js_compFlowChart .js_cfcLayout {
    position: relative;
}

.js_compFlowChart .js_cfcBox {
    position: absolute;
}

.js_compFlowChart .js_cfcBox .js_compPopTips {
    position: absolute;
    display: inline-block;
}

.js_compFlowChart .js_cfcItem{
    padding: 4px 15px;
    min-width: 70px;
    background: #F2F2F2;
    border: 1px solid #E7E7E7;
    white-space:pre;
    position: absolute;
    text-align: center;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    font-weight: bold;
    cursor: default;
}

.js_compFlowChart .js_cfcItemStatus_0{
    color: #6B6F81;
}

.js_compFlowChart .js_cfcItemStatus_1{
    color: #09c100;
}

.js_compFlowChart .js_cfcItemStatus_2{
    color: #ff0619;
}

.js_compFlowChart .js_cfcItemStatus_3{
    color: #0c76c4;
}

.js_compFlowChart .js_cfcItemStatus_4{
    color: #ffbf00;
}

.js_compFlowChart .js_cfcItemStatus_5{
    color: #ff7100;
}

.js_compFlowChart .js_cfcItemStatus_6{
    color: #ff06b3;
}

.js_compFlowChart .js_cfcItemStatus_7{
    color: #41e2e6; 
}

.js_compFlowChart .js_cfcItemStatus_8{
    color: #c3e2a4;
}

.js_compFlowChart .js_cfcItemStatus_9{
    color: #ffb2bc;
}

.js_compFlowChart .js_cfcItemStatus_10{
    color: #dbb8fd;
}

.js_cfcItemStatus_block {
    font-size: 12px;
}

.js_cfcItemStatus_block button {
    widTh: 30px; height: 15px;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
    border:0px!important;
    outline: none;
    margin-right: 2px!important;
}

.js_cfcItemStatus_block .js_cfcItemStatus_0{
    background: #6B6F81;
}

.js_cfcItemStatus_block .js_cfcItemStatus_1{
    background: #09c100;
}

.js_cfcItemStatus_block .js_cfcItemStatus_2{
    background: #ff0619;
}

.js_cfcItemStatus_block .js_cfcItemStatus_3{
    background: #0c76c4;
}

.js_cfcItemStatus_block .js_cfcItemStatus_4{
    background: #ffbf00;
}

.js_cfcItemStatus_block .js_cfcItemStatus_5{
    background: #ff7100;
}

.js_cfcItemStatus_block .js_cfcItemStatus_6{
    background: #ff06b3;
}

.js_cfcItemStatus_block .js_cfcItemStatus_7{
    background: #41e2e6; 
}

.js_cfcItemStatus_block .js_cfcItemStatus_8{
    background: #c3e2a4;
}

.js_cfcItemStatus_block .js_cfcItemStatus_9{
    background: #ffb2bc;
}

.js_cfcItemStatus_block .js_cfcItemStatus_10{
    background: #dbb8fd;
}


