
.js_compFlowChart {

}

.js_compFlowChart .js_cfcItem{
    padding: 4px 15px;
    min-width: 70px;
    background: #F2F2F2;
    border: 1px solid #E7E7E7;
    white-space:pre;
    position: absolute;
    text-align: center;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    font-weight: bold;
    color: #6B6F81;
    cursor: default;
}

.js_compFlowChart .js_cfcContainer{
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
}

.js_compFlowChart  .js_cfcRaphael{
}

.js_compFlowChart .js_cfcLayout {
    position: relative;
}

.js_compFlowChart .js_cfcBox {
    position: absolute;
}

