.js_compFlowChartLayout {
    position: relative;
}

.js_compFlowChartBox {
    position: absolute;
}

.js_compFlowChartBox .js_fcItem{
    padding: 4px 15px;
    min-width: 70px;
    background: #F2F2F2;
    border: 1px solid #E7E7E7;
    white-space:pre;
    position: absolute;
    text-align: center;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    font-weight: bold;
    color: #6B6F81;
}
