div.UTips, div.UTips *{
    padding: 0px;
    margin: 0px;
    font: 14px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}

div.UTips{    
    position: absolute; 
    border: 1px solid rgb(255, 204, 0); 
    padding: 5px; 
    background-color: rgb(93, 81, 71); 
    line-height: 22px; 
    color: white; 
    z-index: 30000; 
    display: none;
    word-wrap: break-word;
    word-break: break-all;
    opacity: 0.9; 
    filters: alpha(opacity=90);
}
