input.CDCalendar_icon {
    background:#fff url(http://p15.qhimg.com/t01e94709749feffaa0.png) 98% -84px no-repeat;
    padding-right: 30px;
}
.CDCalendar_bounding_box {
    position: relative;
    color: #404040;
    font: 12px/1.5 Arial;
    z-index: 10000;
}
.CDCalendar_bounding_box .CDC_container {
    background-color: #FFF;
    zoom: 1;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#808080,direction=135,strength=2)\9;
}

.CDCalendar_bounding_box .CDC_content_box {
    position: relative;
    zoom: 1;
    padding: 5px 30px 15px 30px;
    border: 1px solid #bec2c4;
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}
.CDCalendar_bounding_box .CDC_arrow a {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 38px;
    cursor: pointer;
    margin-top: -19px;
    text-indent: -99999px;
    background: #FFF url(http://p16.qhimg.com/t01868ddffc722b2d90.png) 0 0 no-repeat;
}
.CDCalendar_bounding_box  .CDC_arrow a.CDC_close_btn {
    top: 10px;
    right: 10px;
    width: 17px;
    height: 17px;
    margin: 0;
    background-position: -40px 0;
}
.CDCalendar_bounding_box  .CDC_arrow a.CDC_prev_btn {
    left: 10px;
    background-position: 0 0;
}
.CDCalendar_bounding_box  .CDC_arrow a.CDC_next_btn {
    right: 10px;
    background-position: -20px 0;
}
.CDCalendar_bounding_box  .CDC_arrow a.CDC_prev_btn_disabled {
    left: 10px;
    cursor: default;
    background-position: 0 -38px;
}
.CDCalendar_bounding_box  .CDC_arrow a.CDC_next_btn_disabled {
    right: 10px;
    cursor: default;
    background-position: -20px -38px;
}
.CDCalendar_bounding_box .CDC_arrow .CDC_clear{
    left: 2.5%;
    top: 10px;
    z-index: 5;
    margin-top: 0;
    background: url(http://p17.qhimg.com/t01eaf1c7e4bef9bbff.gif) no-repeat;
    width: 16px;
    height: 16px;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner {
    position: relative;
    background-color: #FFF;
    display: inline-block;
    padding: 0 10px;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    _vertical-align: baseline;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner h4 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
    font-weight: 700;
   
}

.CDCalendar_bounding_box .CDC_content_box .CDC_inner h4 a {
    text-decoration: none;
    color: #333;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner .CDC_header_tools a
{
    margin-right: 15px;
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin-top: 3px;
    color: #5792dc;
    text-decoration: none;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner h4 a:hover,
.CDCalendar_bounding_box .CDC_content_box .CDC_inner .CDC_header_tools a:hover
{
    color: #5792dc;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner table {
    border-spacing: 0;
    border-collapse: collapse;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner table.CDC_date_body{
    width: 182px;
    height: 165px;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner table th {
    height: 22px;
    font-weight: 400;
    border-bottom: 1px solid #E4E4E4;
}

.CDCalendar_bounding_box .CDC_content_box .CDC_inner table td {
    padding: 0;
    width: 25px;
    /*height: 22px;*/
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    border: 1px solid #E5E5E5;
}
.CDCalendar_bounding_box td a {
    width: 25px;
    /*height: 22px;*/
    display: block;
    color: #404040;
    /*line-height: 22px;*/
    text-decoration: none;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner .CDC_month_body td,
.CDCalendar_bounding_box .CDC_content_box .CDC_month_body a{
    width: 62px;
    height: 62px;
    line-height: 62px;
}
.CDCalendar_bounding_box .CDC_content_box .CDC_inner .CDC_year_body td,
.CDCalendar_bounding_box .CDC_content_box .CDC_year_body a{
    /*width: 45px;*/
    width: 53px;
    height: 40px;
    line-height: 40px;
}

.CDCalendar_bounding_box td a.weekend{
  color: #6fae6c;
}
.CDCalendar_bounding_box td a.weekend:hover,
.CDCalendar_bounding_box td a:hover,
.CDCalendar_bounding_box td.selected_date a,
.CDCalendar_bounding_box td.selected_range a:hover {
    color: #FFF;
    background-color: #5792DC;
}
.CDCalendar_bounding_box td.end_date a,

.CDCalendar_bounding_box td a.disabled  {
    color: #DCDCDC!important;
    background-color: transparent;
}
.CDCalendar_bounding_box td a.disabled:hover {
    color: #DCDCDC;
    cursor: default;
    background-color: transparent !important;
}

.CDCalendar_bounding_box td .today {
    color: #f00;
}

.CDCalendar_bounding_box td.selected_date .today,
.CDCalendar_bounding_box td .today:hover {
    background-position: -31px -270px;
}

