
em.error, em.errormsg, em.validmsg, em.focusmsg {
    display: none;
    font: 14px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif!important;
    margin-left: 0px;
    padding: 3px 5px 3px 22px;
}

textarea.error, input.error, select.error {
    background-color: #F0DC82!important;
}

em.error, em.errormsg {
    background: transparent url(images/error.gif) no-repeat scroll 4px 4px;
    color: red;
    /*border: 1px solid #FF6600;*/
}

em.validmsg {
    background: transparent url(images/ok.gif) no-repeat scroll 4px 4px;
    /*border: 1px solid #00BE00;*/
}

em.focusmsg {
    background: transparent url(images/warning.gif) no-repeat scroll 4px 4px;
    /*border: 1px solid #00A8FF;*/
}
