/*.js_compTableFreeze{
	overflow: hidden;
}*/
.js_compTableFreeze table{
	width: 100%;
}
.js_compTableFreeze .js-roll-table{
    overflow-x:auto ;
    overflow-y: hidden;
	*padding-bottom: 15px;
}
.js_compTableFreeze .js-roll-table table{
    width: 120%;
} 
.compTFEextraTd{
	padding: 0 !important;
	border: 0 none !important;
	vertical-align: top !important;
	background:#fff !important;
}
.compTFPrevRoll{
	border-right: 1px solid #ddd !important;
	margin-left: -1px;
}
.compTFPrevRoll table{
	/*margin-left: -1px;*/
}
.compTFPrevRoll th,
.compTFPrevRoll td{
	border-right: 0 none !important;
}
.compTFLastRoll{
	border-left: 1px solid #ddd !important;
}

.compTFLastRoll table{
	margin-left: -1px;
}
.compTFLastRoll th,
.compTFLastRoll td{
	border-right: 0 none !important;
}

.compTFBothRoll table{
	margin-left: -1px;
}
.compTFBothRoll th,
.compTFBothRoll td{
	border-right: 0 none !important;
}
.compTFAllRoll{
	border-left: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
}
.compTFAllRoll table{
	margin-left: -1px;
}
.compTFAllRoll th,
.compTFAllRoll td{
	border-right: 0 none !important;
}
tr.compTFHover td,
tr.compTFHover th{
	background: #fffbdd!important;
}
