.JCDrag {
    position: absolute;
}

.JCCurrentDropBox, .JCCurrentDropBox * {
    color: #000!important;
    background: #F0DC82!important;
}

.JCMovingDropBox, .JCMovingDropBox * {
    color: #000!important;
    background: #fff!important;
}

.JCMovingDropBox {
    opacity: .35;
    filter: alpha( opacity = 35 );
}
