body {
	background: #4B4239;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.header {
	height: 85px;
	background: #4d5152
}

.header-nav {
	width: 100%;
}

.header-logo {
	float: left;
	position: relative;
	height: 100%;
	line-height: 85px;
	font-size: 36px;
	color: #eee;
	letter-spacing: .04em;
}

.header-logo span {
	margin-right: 10px;
	color: #b75024;
}

.header-logo i {
	font-family: sans-serif;
}

.header-github {
	position: absolute;
	padding: 0 5px;
	top: 0;
	right: -100px;
}

.github-hover {
	display: none;
}

.logohover .github-unhover {
	display: none;
}

.logohover .github-hover {
	display: inline;
}

.header-menu {
	float: right;
	height: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: 35px;
}

.header-menu li {
	float: left;
	display: block;
	height: 100%;
	line-height: 50px;
	width: 80px;
	text-align: center;
	font-size: 14px;
	color: #eee;
}

.header-menu .header-menuhover {
	position: relative;
	cursor: pointer;
	background: #453e35;
	color: #b75024;
}

.header-submenu {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	width: 300px;
	background: #ddd;
}

.header-extramenu a {
	display: block;
	color: #eee;
}

.header-submenu a {
	float: left;
	display: block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	
}

.header-menuhover .header-submenu {
	display: block;
}

.flor-img {
	background: url(../../img/hbg-image.jpg) repeat-x top;
	height: 280px;
	border-top: 10px solid #453e35;
	border-bottom: 10px solid #453e35; 
}

.body {
	position: relative;
	margin-top: 50px;
	padding: 26px 40px;
	min-height: 1500px;
	background: #e6decb;
}

.body-helper {
	position: absolute;
	top: 50px;
	left: 0;
	width: 48px;
	margin-left: -48px;
}

.body-helperfix {
	position: fixed;
	left: 50%;
	top: 50px;
	margin: 0 0 0 -548px;
}

.body-helper a {
	display: block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	color: #ddd;
	background: #5A4E42;
}

.body-topbtn, .body-backbtn {
	opacity: 0;
	filter:alpha(opacity=0);
	margin-top: 1px;
}

.body-nav {
	position: absolute;
	right: 40px;
	width: 160px;
	overflow: hidden;
}

.body-nav-fixed {
	position: fixed;
	left: 50%;
	top: 5px;
	bottom: 0;
	overflow-y: visible; 
	margin-left: 300px;
}

.body-nav dl {
	padding-top: 20px;
	margin-bottom: 10px;
	margin-top: -1px;
	border-top: 1px solid #CCC;
	font-size: 18px;
}

.body-nav dt {
	font-size: 16px;
	color: #A67C52;
}

.body-nav dd li {
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	font-size: 14px;
}

.body-nav dd li a {
	display: block;
}

.body-nav .nav-select {
	background: #E3AD29;
}

.body-content {
	margin-right: 190px;
	overflow: hidden;
}

.body-compblock {
	padding: 20px 0 10px 0;
	margin-top: -1px;
	border-top: 1px solid #999;
}

.body-compblock li {
	padding: 20px 0 30px 0;
}

.body-comptitle {
	font-size: 20px;
	letter-spacing: .04em;
	color: #b75024;
}

.body-compname {
	float: left;
}

.body-comptitle a {
	float: left;
	margin: 5px 0 0 10px;
	padding: 0 5px;
	background: #4d5152;
	font-size: 14px;
	color: #eee;
}

.body-comptitle .body-attrbtn {
	margin-left: 20px;
}

.body-compsubtitle {
	font-size: 18px;
}

.body-compversion {
	font-size: 10px;
	line-height: 30px;
	margin-left: 10px;
}

.body-compdesc {
	margin-top: 5px;
	text-indent: 2em;
	font-size: 14px;
}

.body-compdemo {
	position: relative;
	margin-top:20px;
	display: none;
}

.body-compdemo iframe {
	width: 100%;
	height: 0;
}

.body-compclose {
	position: absolute;
	display: block;
	bottom: -1.4em;
	right: 0;
	height: 24px;
	width: 120px;
	line-height: 24px;
	font-size: 14px;
	color: #eee;
	background: #47493E;
	text-align: center;
}

.body-detail {
	position: relative;
	display: none;
}

.body-detail iframe {
	width: 100%;
}

.body-detailnav {
	position: absolute;
	width: 100px;
	top: 120px;
	right: 0px;
	font-size: 14px;
}

.body-detailnav-fixed {
	position: fixed;
	left: 50%;
	top: 120px;
	margin: 0 0 0 360px;
}

.body-detailnav li {
	height: 26px;
	line-height: 26px;
}

.body-detailnav-main {
	font-weight: bold;
}

.body-detailnav-sub {
	padding-left: 10px;
}

.footer {
	margin: 40px 0;
	padding: 20px;
	background: #e6decb;
	border-bottom: 10px solid #4d5152;
}

.footer h2 {
	font-size: 20px;
}

.footer p {
	line-height: 30px;
}

.footer p a {
	float: left;
	display: block;
	width: 120px;
	font-size: 16px;
	text-align: center;
	margin: 10px;
}

.footer .linkhover {
	background: #4d5152;
}