 /*check-select*/
.js_bmspPanelBox{ border:0px solid #ddd; width:100%; height:279px; left:-1px; top:22px; background:#fff; z-index:1000; overflow:auto; padding:5px 10px;}
.js_bmspPanelBox dl{ clear:both; padding:3px 0;}
.js_bmspPanelBox dt{ float:left;}
.js_bmspIconOpen,.js_bmspIconClose{ display:inline-block; width:9px; height:9px; cursor:pointer; vertical-align:middle; background:url(http://p7.qhimg.com/d/inn/7318fb3f/open.png);}
.js_bmspIconClose{ background:url(http://p4.qhimg.com/d/inn/fe78aa78/colos.png);}
.js_bmspPanelBox dd{overflow:hidden; zoom:1; padding:5px 0 0 8px;}
.js_bmspPanelBox ul{ border:1px solid #ccc; overflow:hidden; zoom:1; padding:5px 10px; display: none;}
.js_bmspPanelBox li{ float:left; padding-right:12px; white-space:nowrap; list-style-type: none; }

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

