
.UPanelMask, .UPanelMaskIframe{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 40000;
    opacity: .35;
    filter: alpha(opacity=35);
}
.UPanelMaskIframe{
    opacity: 0!important;
    filter: alpha(opacity=0)!important;
}

div.UPanel, div.UPanel *{  
    font-family: sans-serif;
    font-size: 14px;
    padding: 0; margin: 0;
}

div.UPanel{  
    position: absolute;
    border: 1px solid #acacac;
    background: #fff;
    overflow: hidden;
    z-index: 50000;
    left: -9999px;
    top: -9999px;
    zoom: 1;
    box-shadow:0 0 3px #b3b3b3;
    /*border-radius: 10px;*/
}

div.UPanelDialog_identifer{
    border: 1px solid #fff;
    box-shadow:0 0 3px #fff;
}

div.UPanel select, div.UPanel input, div.UPanel button{
    cursor: pointer;
}

div.UPanel .UButton{
    text-align: center;
    margin: 5px 0 0;
}

div.UPanel .UButton button{
    padding: 0px 4px;
    margin: 0px 4px;
}


div.UPanel .UPContent{
    position: relative;
}

div.UPanel .UPContent .hd{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    background: #fbfbfb;
    padding: 0 10px;
    cursor: default;
}

div.UPanel .UPContent .bd{
    padding: 15px 15px 15px;

    word-break: break-all; 
    word-wrap:break-word;
}

div.UPanel .UPContent .ft{
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #fff;
    background: #fbfbfb;
    padding: 0 10px;
    cursor: default;
}

div.UPanel .UPContent span.close{
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
    width: 15px;
    height: 15px;
    background: url(images/cls.png) no-repeat;
}

div.UPanelPopup{
    width: 200px;
}

div.UPanelPopup .bd{
    padding: 10px 10px 10px!important;
    line-height: 24px;
}

div.UPanelPopup .UPopupContent{
    min-height: 30px;
    height: auto !important;
    height: 30px;
}

div.UPanelPopup button.UIcon{
    padding: 0px!important;
    margin: 0px!important;
    border:0px!important;
    width: 19px; 
    height: 19px; 
    margin-right: 12px!important;
    position: absolute;
    *top: 10px;
    *left: 10px;
    _top: 10px;
    _left: 0px;
    margin-top: 2px!important;
    *margin-top: 0px!important;
}

div.UPanelPopup div.UText{
    text-indent: 28px;
}

div.UPanelPopup div.UText button.UPlaceholder{
    float: left;
    width: 28px;
    visibility: hidden;
    display: none;
}

div.UPanelSuccess button.UIcon{
    background: #fff url('images/status.gif') no-repeat -29px 0!important;
}

div.UPanelError button.UIcon{
    background: #fff url('images/status.gif') no-repeat -0px 0!important;
}

div.UPanelAlert button.UIcon{
    background: #fff url('images/status.gif') no-repeat -58px 0!important;
}
