.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.js_cdsTempSelectClass, .js_cdsTempSelectClass * {
    background: #F0DC82!important;
    color: #000!important;
}
