.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.js_cdsSelecteClass, .js_cdsSelecteClass * {
    background: #F0DC82!important;
    color: #000!important;
}

.js_cdsUnselectClass, .js_cdsUnselectClass * {
}

.js_pos_canSelect {
    background: #c1e0fe!important;
    color: #61b0ff!important;
}

.js_pos_locked {
    background: #ccc!important;
    color: #000!important;
}
