.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.vslide_wra, .vslide_wra *{ margin: 0; padding: 0; }
.vslide_wra img{ border: none; }
.vslide_wra{ 
    border-collapse: collapse;
}

.vslide_wra .vslide_up a, .vslide_wra .vslide_down a{ 
    background: url(images/scroll_v.png) no-repeat scroll 0 0 transparent; 
    width:50px; 
    height:30px; 
    display:block; 
    overflow:hidden; 
    text-indent:-9999px;
}

.vslide_wra .vslide_up a{ background-position:0 -30px;}
.vslide_wra .vslide_down a:hover{background-position:0 -60px;}
.vslide_wra .vslide_up a:hover{background-position:0 -95px;}

.vslide_wra .vslide_list{
    overflow: hidden;
    position: relative;
}

.vslide_wra .vslide_list dd{ position: absolute; }

.vslide_nav { position: absolute; right: 6px; bottom: 8px; width: 20px; }

.slide_navbtn { float: left; }

.vslide_navicon { width: 100%; height: 20px; text-indent: -9999px; background: url(http://p0.qhimg.com/t010b16938cf2328dda.png) no-repeat center center; }

.vslide_nav .vslide_navicon.slide_on { background: url(http://p0.qhimg.com/t01071da594d0b68d7e.png) no-repeat center center; }

.vslide_navnum { height: 16px; line-height: 16px; width: 16px; margin-top: 5px; font-size: 12px;  text-align: center; text-decoration: none; background: #333; color: #eee; }

.vslide_nav .vslide_navnum.slide_on { background: #3eaf0e; }