.js_compPaginator tbody tr{
	display: none;
}
.js_compPaginator .page {margin-top: 15px; clear: both; overflow:hidden; zoom:1; color: #999; text-align:right;}
.js_compPaginator .page a, 
.js_compPaginator .page .cur { display: inline-block; height: 24px; line-height: 24px; border: 1px solid #dedcdc; padding: 0 8px; vertical-align: middle; margin:0 2px; text-decoration: none;
    color: #999;
    }
.js_compPaginator .page .cur { background: #eaeaea; color: #333; font-weight: bold; border: 1px solid #c0c0c0; }
.js_compPaginator .page .disabled{ border: 0 none; cursor:default;}
.js_compPaginator .page .dn{display: none;}