.js_formSubmitPormpt {
    border:1px solid #daecce; 
    border-radius:3px; 
    background:#f3f8ef; 
    overflow:hidden; 
    line-height:15px; 
    color:#000; 
    margin:5px; 
    padding: 5px 20px;
    display: none;
    color: green;
}
