.AC_box a { text-decoration: none; color: #333; }
.AC_box{ max-height: 300px; overflow-y: auto; }
.AC_box{ border: 1px solid #ccc;  padding: 0; }
.AC_box{ margin: -1px 0 0; list-style: none; background: #fff; display: none; position: absolute; }
.AC_box li{ line-height: 24px; text-indent: 3px; }
.AC_box li.AC_active{ background: #eee; }
.AC_fakebox{ border-color: #4d90fe; }
