.rate-cancel, .rate-score { width: 16px; height: 16px; padding: 0; margin: 0; border: none; outline: none; cursor: pointer; }
.star-on { background: url( img/star-on.png ); }
.star-off { background:url( img/star-off.png ); }
.star-half { background:url( img/star-half.png ); }
.cancel-off { background:url( img/cancel-off.png ); }
.cancel-on { background:url( img/cancel-on.png ); }
