.tree_wrap, .tree_wrap *{
    margin: 0; padding: 0;
 }
.tree_wrap li{ list-style-type: none; }
.tree_wrap {text-align:left;line-height:24px; padding:8px 0; zoom:1;}

.tree_wrap .highlight,.tree_wrap .ms_over a{background-color:#529dcb; color:#fff; line-height:18px; padding:0 4px 2px; border-radius:3px; display:inline-block;}
.tree_wrap .node_ctn a{ color:#999; }
.tree_wrap .highlight a{ color:#fff; }
.tree_wrap_inner ul { background:url(images/treeline.gif) repeat-y;}
.tree_wrap_inner li{ padding-left:24px; white-space:nowrap;}
.tree_wrap .node_ctn { display:inline;}
.tree_wrap .ms_over a,.tree_wrap .ms_over a:hover{ color:#fff;}

.folder_open{}
.folder_img_open,.folder_img_root,.folder_img_root.folder_img_closed,.folder_img_loading,.folder_img_closed,.folder_img_bottom,.folder_img_last{
 width:24px; height:24px; display:-moz-inline-box;display:inline-block;cursor:pointer;}
.folder_img_open {background:url(images/open.gif) no-repeat center left;}
.folder_img_root {background:url(images/root.gif) no-repeat center left;}
.folder_img_root.folder_img_closed{ background:url(images/root_plus.gif) no-repeat;}
.folder_img_loading {background:url(images/loading.gif) no-repeat 3px 4px;}
.folder_img_closed {background:url(images/closed.gif) no-repeat center left;}
.folder_img_bottom{background:url(images/treeline1.gif) no-repeat center left;}
.folder_img_last{background:url(images/treeline2.gif) no-repeat center left;}
.folder_last .folder_img_open.folder_span_lst{background:url(images/open_last.gif) no-repeat center left;}
.folder_last .folder_img_closed.folder_span_lst{background:url(images/closed_last.gif) no-repeat center left;} 
.tree_wrap_inner .folder_last .folder_ul_lst{ background:none;}
.tree_wrap span.file{ cursor: default; }
