@charset "utf-8";
.error { color: red; }
.wp { clear: both; overflow: hidden; zoom: 1; min-width: 1150px; padding-bottom: 50px; }
/*hd*/
.hd { height: 70px; overflow: hidden; background: url(http://p4.qhimg.com/d/inn/5bcabb7a/img/hdbg.png) repeat-x bottom #069200; padding: 0 35px; position:relative;}
.hd .logo { float: left; width: 345px; height: 43px; overflow: hidden; line-height: 100em; margin: 14px 0 0 0; background: url(http://p16.qhimg.com/t01657672a11a8fd7db.png) no-repeat; }
.hd .logo a { display: block; height: 43px; }
.hd .hd-info { position:absolute; top:12px; right:35px; line-height:18px; color: #90c28f; }
.hd .hd-info a { color: #90c28f; }
.hd .hd-info em a { color: #b6dfb5; }
.hd .hd-nav{ float:left; padding:37px 0 0 45px;}
.hd .hd-nav a{ float:left; border:1px solid #089700; border-bottom:none; background:#048d00; height:32px; line-height:32px;font-family:"Microsoft YaHei"; color:#e4e4e4; margin:0 10px 0 0; padding:0 10px; border-radius:5px 5px 0 0; font-size:14px;}
.hd .hd-nav a.cur{ background:#f7f7f7; color:#009933;}
/*ft*/
.ft { clear: both; width: 100%; min-width: 1150px; position: fixed; left: 0; bottom: 0; text-align: center; padding: 13px 0 15px; line-height: 14px; zoom: 1; background: #f3f3f3; border-top: 1px solid #e9e9e9; _margin-top: -3px; z-index: 1000; }
/*bd*/
.bd .left { float: left; width: 160px; }
.bd .right { overflow: hidden; zoom: 1; _margin: 0 0 0 160px; }
/*menu*/
.menu h4 em,.menu ul li a:hover,.menu ul li.cur a,.menu ul li.cur a:hover,.menu h4.close em,.menu h4.close a:hover em{background: url(http://p0.qhimg.com/d/inn/a3d3936f/menu.png) no-repeat;}
.menu { clear: both; overflow: hidden; margin: 3px 0 10px; _margin-top: -1px; }
.menu a { display: block; height: 100%; padding: 0 0 0 13px; }
.menu h4 { font-size: 14px; line-height: 16px; padding: 12px 0 10px; }
.menu h4 em { display: inline-block; background-position:0 -90px; width: 13px; height: 13px; vertical-align: middle; margin: -2px 0 0 5px; _margin: 0 0 0 5px; }
.menu h4 a:hover em { background-position: 0 -124px; }
.menu h4.close em{background-position:0 -157px;}
.menu h4.close a:hover em{background-position:0 -191px;}
.menu li { margin-top: -1px; padding: 5px 0 9px; border-top: 1px dashed #c8c8c8; }
.menu ul li { height: 30px; line-height: 30px; padding: 0; border: none; }
.menu ul li a:hover { color: #666; }
.menu ul li.cur a, .menu ul li.cur a:hover { background-position:0 -40px; font-weight: bold; color: #fff; }
/*menu-2*/
.menu-2{ clear:both;}
.menu-2 li{ float:left; position:relative; font-size:14px; margin-right:10px;}
.menu-2 li p{ background:#fff; border:1px solid #c7c7c7; display:block; position:absolute; width:98%; _width:auto; text-align:center; top:29px; left:0; overflow:hidden;}
.menu-2 li p a{ display:block; padding:3px 0; _padding:3px 15px; border-top:1px solid #ececec;}
.menu-2 li p a:hover{ background:#f7f7f7;}
/*cont*/
.cont { clear: both; padding: 20px; _padding: 20px 20px 20px 16px; min-height: 850px;}
/*box-1*/
.box-1{ background:#f8f8f8; border:1px solid #f0f0f0; border-radius:5px; padding:10px 15px;}
/*form*/
.ipt,input[type="text"],textarea,.txt,.txt-1{ border:1px solid #e2e3ea; border-top:1px solid #abadb3; border-radius:2px; height:22px; *line-height:22px;}
.input[type="text"]{ width:126px;}
.txt,.txt-1{ resize:none; height:50px; width:99.8%;}
select{ border:1px solid #e2e3ea; border-top:1px solid #abadb3; height:24px; padding:2px; margin:0; width:126px;}
.file-1{ height:24px; width:245px; background:#f7f7f7;}
.w48{ width:48px; text-align:center;}
.w58{ width:58px;}
.w80{ width:80px;}
.w90{width: 90px;}
.w126{ width:126px;}
.w180{ width:180px;}
.w200{ width: 200px;}
.w230{ width: 230px;}
.w280{ width:280px;}
.w320{ width:320px;}
.w380{ width:380px;}
.w400{ width:410px;}
.w480{ width:480px;}
.w545{ width:545px;}
.w650{ width:650px;}
/*btn*/
.btn{ display:inline-block; height:30px; border:none; cursor:pointer; border-radius:3px; overflow:hidden; background:url(http://p4.qhimg.com/d/inn/5bcabb7a/img/btn.png) no-repeat #5dcb30; box-shadow:0 1px 2px #efefef; vertical-align:middle; color:#000; margin:0;}
.btn:hover{ color:#000;}
.btn-green,.btn-Sgreen,.btn-Mgreen,.btn-Lgreen{ border:1px solid #50ad1d; border-top:1px solid #54bf1a; border-bottom:1px solid #4c9a20;}
.btn-gray,.btn-Lgray,.btn-Mgray,.btn-Sgray{ border:1px solid #d2d2d2; border-top:1px solid #dfdfdf;}
.btn-Lgray,.btn-Mgray,.btn-Sgreen,.btn-Lgreen,.btn-Sgray,.btn-Mgreen{ padding:0 15px; *padding:0;}
.btn-green{ width:83px; color:#fff;}
.btn-green:hover,.btn-Lgreen:hover,.btn-Mgreen:hover,.btn-Sgreen:hover{ background-position:0 -33px; color:#fff;}
a.btn-green,a.btn-gray{ text-align:center; width:81px; height:28px; line-height:28px;}
.btn-gray{ width:83px; color:#333; background-position:0 -66px; background-color:#f1f1f1;}
.btn-gray:hover{ background-position:0 -99px; color:#333333;}
.btn-Lgray{ background-position:0 -66px; background-color:#f1f1f1;}
.btn-Lgray:hover{ background-position:0 -99px;}
a.btn-Lgray,a.btn-Lgreen{ height:28px; line-height:28px; padding:0 15px;}
.btn-Mgray{ height:27px; background-position:0 -66px; background-color:#f1f1f1;}
.btn-Mgray:hover{ background-position:0 -99px;}
a.btn-Mgray,.btn-Mgreen{ height:25px; line-height:25px; padding:0 15px;}
.btn-Mgreen{ height:27px; color:#fff;}
.btn-Sgreen{ height:24px; color:#fff;}
a.btn-Sgreen,a.btn-Sgray{ height:22px; line-height:22px; padding:0 15px;}
.btn-Lgreen{ color:#fff;}
.btn-Sgray{ height:24px; background-position:0 -66px; background-color:#f1f1f1;}
.btn-Sgray:hover{ background-position:0 -99px;}
.btn-arr{ display:inline-block; font-size:0; width:0; height:0; border-width:4px; vertical-align:middle; border-style:solid dashed dashed dashed; border-color:#494949 transparent transparent transparent; margin-top:3px;}
.btn-open{ background:url(http://p4.qhimg.com/d/inn/5bcabb7a/img/arr_4.png) no-repeat right 2px; padding:0 12px 0 5px; font-size:12px; font-family:"宋体"; margin-left:10px; cursor:pointer;}
.btn-cls{ background-position:right -37px;}
.btn-minus,.btn-plus{ width:14px; height:14px; background-position:0 -380px; vertical-align:middle;}
.btn-minus:hover{ background-position:-24px -380px;}
.btn-plus{ background-position:-48px -380px;}
.btn-plus:hover{ background-position:-72px -380px;}
.btn-download{ width:15px; height:15px; background-position:-96px -380px;}
.btn-download:hover{ background-position:-121px -380px;}
.btn-cls2{ width:15px; height:15px; background-position:-146px -380px;}
.btn-cls2:hover{ background-position:-172px -380px;}
.btn-down,.btn-up,.btn-mdf,.btn-del{ background-position:0 -429px; width:15px; height:15px; box-shadow:none;}
.btn-down:hover{ background-position:0 -404px;}
.btn-up{ background-position:-25px -429px;}
.btn-up:hover{ background-position:-25px -404px;}
.btn-mdf{ background-position:-50px -429px;}
.btn-mdf:hover{ background-position:-50px -404px;}
.btn-del{ background-position:-75px -429px;}
.btn-del:hover{ background-position:-75px -404px;}
.btn-refresh{ display:inline-block; vertical-align:middle; font-size:12px; line-height:14px; font-family:"宋体"; padding-left:20px; background:url(http://p4.qhimg.com/d/inn/5bcabb7a/img/ico_refresh.png) no-repeat 2px 0;}
/*tips*/
.tips-1 { display: inline-block; line-height: 1; background: #fdf2d5; border: 1px solid #f1dca6; padding: 6px 12px; vertical-align: middle; color: #84531f; }
.tips-1 img { vertical-align: middle; margin-right: 5px; }
.tips-2,.tips-3{ display:inline-block; vertical-align:middle; background:#86c856; border-radius:2px; color:#fff; height:18px; line-height:18px; color:#fff; padding:0 8px;}
.tips-3{ background:#d1f0cf; color:#4c9900;}
.th-nowrap th,
.td-nowrap td,
.cell-nowrap th,
.cell-nowrap td,
.no-wrap,
.a-nowrap a{ white-space: nowrap; }
.breaklw{word-wrap: break-word;table-layout: fixed;word-break:break-all}
.line-1{ word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:180px;}
/*frm-list*/
.frm-list{ clear:both;}
.frm-list em{ vertical-align:middle;}
.frm-list th{ text-align:right; vertical-align:top; padding:6px 5px 6px 0; line-height:20px; color:#999;}
.frm-list td{ padding:6px 40px 6px 0; vertical-align:top; line-height:20px;}
.frm-list .pdr-n{ padding-right:0px;}
.UPanel .frm-list td em.error{ display:block;}
.frm-list .td-pt15{ padding-top:15px;}
.frm-list .line{ margin:10px 0;}
.frm-list2{ padding-top:0;}
.frm-list .hov{ background:#feffdf;}
.frm-bk1{ padding:0 5px;}
.frm-bk1 em{ padding:0 8px; display:inline-block;}
div.UXCCalendar{ z-index:30000;}
input.UXCCalendar_btn{ width:16px; height:16px; background:url(http://p4.qhimg.com/d/inn/5bcabb7a/img/ico_data.png) no-repeat!important; margin:2px 0 0 -20px;}
.sel-blk{ margin-left:10px;}
.sel-blk em{ padding:0 23px 0 5px; height:15px; line-height:15px; border:1px solid #fff; display:inline-block; cursor:pointer;}
.sel-blk .cls{ border:1px solid #a2d6a9; background:url(http://p4.qhimg.com/d/inn/5bcabb7a/img/sel_cls.png) no-repeat right;}
.frm-list3{ background:#f1f8f0; padding:10px; margin-top:20px;}
.frm-list3 h3{ padding-bottom:0;}
.frm-list3 table{ margin-top:15px;}
/*data-box*/
.data-box { clear: both; margin-bottom: 15px; background:#fff;}
.data-top { text-align: right; padding-bottom: 10px; }
.data-top span { padding-right: 10px; }
.data-tit { clear: both; height: 33px; line-height: 33px; background: url(http://p5.qhimg.com/d/inn/3d50fd9b/img/tit.png) repeat-x; padding: 0 10px; border:1px solid #e6e6e6; border-bottom:none;}
.data-tit h2 { float: left; font-size: 16px; font-family: Microsoft YaHei; font-weight: normal; }
.data-tit .btn-3 { margin-top: -3px; _margin-top: 3px; }
.data-tit span { padding-right: 25px; }
.data-box .tit-tab { float: right; }
.tit-tab li { float: left; padding: 0 15px; height: 29px; line-height: 29px; margin: 4px 0 0 0; font-size: 14px; }
.tit-tab li.cur { background: #fff; border: solid #e1dede; border-width:0 1px; font-weight: bold; box-shadow: 1px -1px 1px #eee;  border-top:2px solid #4ebd21; height:27px; line-height:27px;}
.tit-tab li a { color: #4b4b4b; }
.data-tit-nav { float: left; padding-left: 20px; }
.data-tit-nav a { margin: 0 5px; }
.data-tit-nav a.cur { font-weight: bold; }
.data-tit-nav .more { position: relative; padding: 0; }
.data-tit-nav .more em { display: none; }
.data-tit-nav .more cite { display: inline-block; cursor: pointer; padding: 0 15px 0 5px; height: 21px; line-height: 21px; text-align: center; background: url(http://p5.qhimg.com/d/inn/3d50fd9b/img/arr_4.png) no-repeat 31px 8px; }
.data-tit-nav .more-hov cite { background: #999; color: #fff; background: url(http://p5.qhimg.com/d/inn/3d50fd9b/img/arr_4.png) no-repeat 31px -70px #999; }
.data-tit-nav .more-hov em { position: absolute; display: block; width: 76px; text-align: center; border: 1px solid #999; top: 18px; left: 0; background: #fff; line-height: 1.8; padding: 5px 0; }
/*data-table*/
.data-table th{ height:31px; border:1px solid #e6e6e6; border-top:none; text-align:left; padding:0 10px; color:#999; background:url(http://p1.qhimg.com/d/inn/fc8fe031/tit_3.png) repeat-x bottom #fff;}
.data-table .bgn{ border-right:none;}
.data-table td,.data-table2 td{ height:20px; padding:3px 10px 4px; border:1px solid #e6e6e6;}
.data-table td a{ color:#069300;}
.data-table .even td{ background:#f8f8f8;}
.data-table tr:hover td,
.data-table tr.hover td { background:#fffbdd;}
.data-table td img{ vertical-align:middle;}
.data-table2{}
.data-table2 .td-mdf{ position:relative;}
.data-table2 .td-mdf:hover{ background:#fff4d8;}
.td-mdf-con{ position:absolute; top:50%; right:10px; margin-top:-10px; display:none;}
.td-mdf:hover .td-mdf-con{ display:block;}
.data-box2{ clear:both; margin-bottom:20px; border-bottom:none;}
.data-box2 .data-tit{ margin-bottom:-1px;}
.data-box2 table th{ height:20px; padding:7px 10px 8px;  border:1px solid #e6e6e6; border-bottom:none; background:url(http://p6.qhimg.com/d/inn/deb481eb/tit.png) repeat-x bottom #f5f5f5;}
.data-box2 table .th-mline th{ padding:3px 10px 4px;}
.data-box2 table th.th-bg1{background:url(http://p4.qhimg.com/d/inn/5bcabb7a/img/tit_1.png) repeat-x bottom #fee9c2; color:#c58514;}
.data-box2 table th.th-bg2{background:url(http://p4.qhimg.com/d/inn/5bcabb7a/img/tit_2.png) repeat-x bottom #d9f4c8; color:#3b752a;}
.data-box2 table td{ border:1px solid #e6e6e6; border-top:none;}
.data-box2 table .bdn{ border-right:none; border-left:none;}
.bdr-line .data-roller{border-right:1px solid #e6e6e6;}
.data-box2 .data-table3 td{border:1px solid #e6e6e6;}
.data-table .data-thead th{background:url(http://p6.qhimg.com/d/inn/deb481eb/tit.png) repeat-x bottom #f5f5f5; height:auto; vertical-align:middle; padding:4px 10px;}
/*page*/
.page { clear: both; overflow:hidden; zoom:1; color: #999; text-align:right;}
.page a, .page .cur { display: inline-block; height: 24px; line-height: 24px; border: 1px solid #dedcdc; padding: 0 8px; vertical-align: middle; margin:0 2px;}
.page .cur { background: #eaeaea; color: #333; font-weight: bold; border: 1px solid #c0c0c0; }
/*star*/
.star, .star em { display: inline-block; width: 73px; height: 12px; background: url(http://p4.qhimg.com/d/inn/5bcabb7a/img/star.png) no-repeat 0 -17px; overflow: hidden; }
.star em { display: block; background-position: 0 0; }
/*tit*/
.tit-1,.tit-2,.tit-20{ clear:both; font-size: 16px; font-family: Microsoft YaHei; font-weight: normal;}
.tit-1 em,.tit-1 .btn{ font-size:12px; font-family:"宋体";}
.tit-2{background:#ececec; display:inline-block; padding:0 12px; height:27px; border-radius:3px; text-align:center; line-height:27px; *float:left;}
.tit-3{ border:1px solid #e5e5e5; border-radius:2px; background:#f7f7f7; font-size:14px; padding:4px 10px;}
.line { clear: both; height: 1px; overflow: hidden; background: url(http://p4.qhimg.com/d/inn/5bcabb7a/img/line.png) repeat-x; }
.line-2{ margin:10px 0;}
.tit-4,.tit-5{font-size: 14px; font-family: Microsoft YaHei; font-weight: normal;}
.tit-5{background: url(http://p4.qhimg.com/d/inn/5bcabb7a/img/line.png) repeat-x bottom; padding:10px 0; margin-bottom:10px;}
.tit-20{ font-size:20px;}
/*crumbs*/
.crumbs { height: 32px; line-height: 32px; background: #f7f7f7; border-bottom: 1px solid #e6e6e6; color: #999; padding: 0 12px; }
/*tab*/
.tab { clear: both; height: 30px; line-height: 30px; background: #f7f7f7; border-top: 2px solid #0fa400; border-bottom: 1px solid #ececec; font-size: 14px; }
.tab li { float: left; padding: 0 10px; border-right: 1px solid #ececec; }
.tab li.cur { background: #4abb11; font-weight: bold; color: #fff; }
.tab li.cur a { color: #fff; }
/*user-list*/
.user-list { clear: both; }
.user-list a:hover{ text-decoration:underline;}
.user-list .tit-1 { padding: 0 0 6px; }
.user-list th{ color:#999; text-align:right;}
.user-list td { padding:  6px 35px 6px 0; word-wrap:break-word; table-layout:fixed; word-break:break-all; }
.user-list td span { color: #999; }
.user-fr-list{ float:right; clear:both; line-height:14px;}
.user-fr-list th{ padding-left:30px;}
.txt-s1{ clear:both;}
.txt-s1 dt{ float:left;}
.txt-s1 dd{ overflow:hidden; zoom:1;}
/*UPanel*/
.UPanel .UPanel-hd { height: 31px; line-height: 31px; padding: 0 10px!important; font-weight: bold; background: url(http://p4.qhimg.com/d/inn/5bcabb7a/img/tit.png) repeat-x bottom; }
div.UPanel * { font-size: 12px!important; font-family:Tahoma,Helvetica,Arial,'宋体',sans-serif;}
div.UPanel .btn{ padding:0 15px;}
.UPanel-ft { height: 46px; border-top: 1px solid #efefef; background: #fafafa; }
.UPanel-btn { float: right; margin: 7px 19px 0 0!important; }
.Panel-flist { width: 610px; }
.Panel-flist-con .frm-list { padding:10px 20px; }
div.UPanel .Panel-flist-con .data-box2{ margin:0 20px 20px;}
.UPanel-key{ width:880px;}
.UPanel-txt{ width:310px;}
.UPanel-txt .Panel-flist-con{ text-align:center; padding:20px; line-height:1.8;}
/*银行卡号 账户号码 样式*/
.bank-acc-code{ font-weight:900;}
/*固定列中间滚动表格样式*/
div.data-roll-con { position: relative; height: 600px; width: 100%; }
.td-h40 td { height: 40px; overflow: hidden; }
.td-h20 td { height: 20px; overflow: hidden; }
div.data-roll-con td p.line2h { height: 40px; line-height: 20px; overflow: hidden; width: 120px; word-wrap:  break-word; table-layout:  fixed; word-break: break-all; }
div.data-roll-con td p.w160 { width: 160px; }
div.data-roll-con td p.w120 { width: 120px; }
div.data-roll-con td p.w100 { width: 100px; }
div.data-roll-con td p.w80 { width: 80px; }
div.data-roll-con td p.w60 { width: 60px; }
.data-roller { position: absolute; top: 0; left: 0; width: 854px; overflow-x: scroll; z-index: 88; }
.data-roller-fw { width: 913px; }
.data-roller table { width: 1600px; }
.data-fixer { position: absolute; right: 0; top: 0; width: 60px; z-index: 99; }
.data-fixer table { width: 100%; }
.data-fix-l { left: 0; top: 0; }
.data-fix-r { right: 0; top: 0; }
.btn-px { display: inline-block; vertical-align: middle; width: 9px; height: 13px; background: url(http://p4.qhimg.com/d/inn/5bcabb7a/img/arr_5.png) no-repeat; overflow: hidden; }
.btn-px-up { background-position: 0 -36px; }
.btn-px-down { background-position: 0 -18px; }
.mr20{margin-right: 20px;}
.mb30{ margin-bottom: 30px;}
