/**
 * 置灰样式
 */
.xdisable, .xdisable *{
    color: #999!important;
    cursor: default!important;
}
.xdisable{
    background: #ececec!important;
}

.xhide_scroll{ overflow-x: hidden; }

/**
 * 右侧顶部导航样式
 */
div.crumbs label{ margin-right: 10px;}
div.crumbs span{ margin: 0 10px; }

textarea.error, input.error, select.error{
    background-color:#F0DC82;
}
em.error{color:red}

.file1ext {
    width: 166px!important;
}

table.expadding td{
    padding:6px 15px 6px 0;
}

.itemPadding {
    padding:6px 0px 6px 0;
}


td.urlAptitude, th.urlAptitude {
    width: 80px;
}

div.xfilefield {
    max-width: 90px;
    text-overflow: clip;
}
div.xfilefield .btn{
    height: 24px !important;
}
/*adurlbox*/
.adurlbox{ clear:both;}
.adurlbox li{ clear:both; overflow:hidden; zoom:1; padding:5px 0;}
.adurlbox li span{ float:left; padding-right:15px;}
.adurlbox div.xfilefield{ float:left; width:100px; max-width:100px;}
.chk-all{float: left;}
.js_auLink{width:90px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:inline-block;}
.xfilefield .btn-cls2{ margin:-9px 5px 0 0;}
iframe.iframeup{
    width:88px; 
    height:24px; 
    cursor: pointer; 
    vertical-align: middle;
}

div.framecode {
    margin-top: 5px;
}

.selectreportbox {
    padding: 0px 5px 12px 0!important;
}

.xwraptext {
    /*
    min-width: 350px;
    width: 350px!important;
    width: 350px;
    */

    word-break: break-all;
    word-wrap: break-word;
}

.brandPopupList {
    max-height: 400px;
    max-width: 930px;
    overflow-x: auto;
    overflow-y: auto;
}
.brandPopupList table{
    width: 1122px;
}

table.xdatatable{  
  background-color: #FFFFFF !important;
  border-collapse: collapse;
  border: 1px solid #e6e6e6;
  margin: 12px 0px;
  width: 100%;
}

table.xdatatable td, table.xdatatable th{  
  border-top: 1px solid #e6e6e6!important;
  border-right: 1px solid #e6e6e6!important; 
  border-collapse: collapse;
  padding: 6px;
}

table.xdatatable th{
    background: #ececec;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.th_leftW{
    width: 80px;
}

.xorder_monthday{
}

.xorder_monthday table{
    width: 100%:
}

.xorder_monthday table dl dd{
    margin-bottom: 10px;
}

.xschedule th{
    width: auto!important;
    padding-left: 10px;
}

.xschedule .monthDayLs{
    width: 580px;
}

.xschedule{
    padding: 5px;
}

.xclear{zoom:1;}
.xclear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}

.xpriceLs dd{
    float: left;
    margin-right: 15px;
}
.bold{
    font-weight: bold;
}

.mtop{ margin-top: 5px; }
.mtop_10{ margin-top: 10px; }
.mtop_15{ margin-top: 15px; }
.mtop_20{ margin-top: 20px; }

.mbottom{ margin-bottom: 5px; }
.mbottom_0{ margin-bottom: 0px; }
.mbottom_10{ margin-bottom: 10px; }
.mbottom_15{ margin-bottom: 15px; }
.mbottom_20{ margin-bottom: 20px; }

.mleft{ margin-left: 5px; }
.mleft_10{ margin-left: 10px; }
.mleft_15{ margin-left: 15px; }
.mleft_20{ margin-left: 20px; }

.mlabel_r30 label{
    margin-right: 30px;
}

.xallocate_ckls{
    width: 680px;
    float: left;
}
.xallocate_ckls li{padding: 0;}

.singleContract {
    width: 680px;
}

.fixRightPadding td {
    padding-right: 5px;
}

.uploadRelBoxCertify p{
    margin-bottom: 5px;
}

.xschtable td{
    padding: 0!important;
}

.xtextButton {
    margin-left: 5px;
}

.UPanel .data-box2 th{
    text-align:left!important;
    padding: 5px !important;
}

.UPanel .data-box2 td{
    padding: 5px !important;
}

.bgray{
    background-color: #ececec;
}

.w120{ width: 120px; }
.w130{ width: 130px; }
.w150{ width: 150px; }
.w165{ width: 165px; }
.w180{ width: 180px; }
.w200{ width: 200px; }
.w208{ width: 208px;}
.w245{ width: 245px;}
.w260{ width: 260px;}
.w340{ width: 340px;}

/*bcard*/
.bcard{ clear:both; overflow:hidden; zoom:1; max-width: 980px;}
.bcard dl{ display: inline-block; *display: inline; *zoom:1; vertical-align: top; border:1px solid #dbe3c4; border-radius:3px; background:#f2f7e5; width:312px; padding:12px 12px; margin:10px 20px 10px 0; box-shadow:1px 1px 1px #f3f3f3;}
.bcard dt{ float:left; width:80px; padding-right:10px; color:#209914; font-size:20px; font-family:"Microsoft YaHei"; word-wrap:break-word; table-layout:fixed; word-break:break-all; line-height:1.1;}
.bcard dd{ overflow:hidden; zoom:1; border-left:1px solid #dbe3c4; padding-left:10px; color:#959595; min-height:150px; _height:150px;}
.bcard th{ padding:2px 0; text-align:left; vertical-align:top; width:60px;}
.bcard td{ padding:2px 0; word-wrap: break-word;table-layout: fixed;word-break:break-all;}
.add-list{
    margin-bottom: 10px;
}

.AUBtn-g1{ height: 24px !important; }
.page select{ width: 50px;}
.f14{ font-size: 14px;}
.position-list{
   
    margin-bottom: 20px;
}

.position-list .pl-hd{
    background: #fbfbfb;
    padding: 10px 25px;
    height: 22px;
    cursor:pointer;
}

.position-list .open{
    background: #fbfbfb;
    border-bottom: 1px solid #e4e4e4;
}

.position-list .pl-hd:hover{
    background: #f7f7f7;
}
/*.position-list .pl-hd h3,
.position-list .pl-hd .fr{
    display: inline-block;
    *zoom:1;
    *display: inline;
    height: 100%;
    vertical-align: top;
}*/
.position-list .pl-hd{
    clear: both;
    zoom:1;
    overflow: hidden;
}
.position-list .pl-hd h3{
    font-weight: normal;
    width: 75%;
    float: left;
}

.position-list .pl-hd .fr{
    float: right;
    width: 20%;
    text-align: right;
    font-family: Verdana,Geneva, sans-serif;
}

.position-list .pl-hd .fr span{
    margin-right: 25px;
}

.position-list .pl-bd{
    padding: 17px 25px;
    display: none;
}

.position-list li {
    border: 1px solid #e4e4e4;
    background: #fbfbfb;
    margin-bottom: 15px;
}

.tl{text-align: left !important;}

.js_macAddtionBox {
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 10px 15px;
}

.js_macAddtionBox .popupLabel {
    font-size: 14px;
}

.js_macAddtionBoxList {
    margin-top: 10px;
}

.js_macAddtionBoxList a {
    float: left;
    width: 48%;
    text-overflow: ellipsis;
    padding-bottom: 8px;
    height: 16px;
    overflow: hidden;
    word-wrap: nowrap;
    white-space: pre;
}

.js_macAddtionBoxList button {
    margin-right: 2px;
}

.js_stepLabelBar {
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 10px;
}

.js_stepLabelBar button {
    line-height: 30px;
    background:url(./img/step.png) no-repeat transparent;
    border: none;
    vertical-align: middle;
    color: #fff;
    width: 30px;
    text-align: center;
    margin-top: -2px;
    margin-right: 5px;
    font-weight: bold;
}

.js_stepLabelBar .step_label {
    color: #ccc;
}

.js_stepLabelBar .step_active {
    color: #000;
}

.js_stepLabelBar .step_label button {
    background-position: -0px -62px!important;
}

.js_stepLabelBar .step_active button {
    background-position: -0px 1px!important;
}

.js_stepLabelBar .step_arrow {
    background-position: -15px -115px!important;
    margin-left: 10px;
}
.orange{ color: #fb6600;}
.strike{text-decoration: line-through;}
.ml25{ margin-left: 25px;}
.selected-date{color: #029502!important;}
.deleted-date{color: #84c884!important;}
.added-date{color: #fe7575!important;}
.selected-date ,
.deleted-date ,
.added-date {
    margin-right: 15px;
}
.selected-date b,
.deleted-date b,
.added-date b{ 
    display: inline-block; 
    *display: inline; 
    *zoom:1; 
    width: 12px; 
    height: 12px; 
    margin-left: 5px;
    vertical-align: -2px;
}
.selected-date b{
    background: #029502;
}
.deleted-date b{
    background: #84c884;
}
.added-date b{
    background: #fe7575;
}

.xdate_btn{
    background: transparent!important;
    border: none!important;
    cursor: pointer;
}

.xdate_select{
    width: 78px;
}

.js_bccDateLabel, .js_bccWeekLabel{
    width: 30px;
    text-align: center!important;
}

.js_bccTable td {
    cursor: default!important;
}


th.js_bccDateLabel, input.js_bccPopupBtn {
    cursor: pointer!important;
}

td.js_bccDateItem div {
    width: 30px;
    height: 34px;

	overflow: hidden;
	text-overflow: ellipsis;
    word-break: break-all;
}

input.js_bccPopupBtn {
    padding-right: 0px!important;
}

.xcenter {
    text-align: center;
}

.xdate_btn {
    padding: 0  2px!important;
}

th.xnocursor, td.xnocursor {
    cursor: default!important;
}

th.js_bccWeekLabelHd {
    width: 30px;
}

a.btn-arr-left, a.btn-arr-right {
    top: 48%!important;
}

div.js_bccPopupDateItem {
    width: 240px!important;
    height: 240px!important;
    overflow: hidden;
}


table.jc_bccPopupCalendarTable {
    height: 240px;
}

.UPanel .jc_bccPopupCalendarTable td {
    padding: 0!important;
    cursor: default;
}
