.le-tabview *{
    margin:0;padding:0;
}
.le-tabview li{ list-style-type: none; }
.le-tabview {width: 500px; border: 1px solid #08c;}
.le-tabview .views .view-item {display: none; padding: 10px; word-wrap: break-word; word-break: break-all; }
.le-tabview .views .active {display: block;}
.le-tabs {height: 24px; background: #08c;}
.le-tabs li {float: left; width: auto;}
.le-tabs li a {padding: 0 10px; color: #FFF; line-height: 24px;}
.le-tabs .active {background: #FFF;}
.le-tabs .active a {color: #08c;}
.le-tabview-horizontal {overflow: hidden; *zoom: 1;}
.le-tabview-horizontal .le-tabs {float: left; margin-bottom: -999px; padding-bottom: 999px; width: 100px; height: auto;}
.le-tabview-horizontal .le-tabs li {float: none; width: 100%;}
.le-tabview-horizontal .views {float: left; margin-bottom: -999px; padding-bottom: 999px; width: 400px;}
