body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, select, optgroup, option, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, i, th, var, optgroup { font-style: normal; font-weight: 400 }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400 }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }
input, button, textarea, select {
*font-size:100%; line-height: 1.2 }
input, textarea, select { outline: 0 }
legend { color: #000 }
q:before, q:after { content: '' }

body { font:12px/1.5 Tahoma,Helvetica,Arial,'Microsoft YaHei',sans-serif; color: #333 }
a { text-decoration: none; color: #666 }
a:hover { color: #e63737 }
input::-ms-clear {
display:none
}
input:focus { outline: 0 }

.clearfix { *zoom:1 }
.clearfix:after { display: block; clear: both; height: 0; line-height: 0; visibility: hidden; content: "" }

.white{ color: #fff; }
