	body {
        background: #e6decb;
        padding: 20px 0;
        font-size: 14px;
        padding-bottom: 200px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .wrap {
        width: 920px;
        margin: 0 auto;
    }

    .detail-title {
    	height: 30px;
    	line-height: 30px;
    	padding-left: 20px;
    	font-size: 20px;
		letter-spacing: .04em;
		color: #b75024;
    }

    .detail-subtitle {
    	padding-left: 20px;
    	height: 30px;
    	font-size: 18px;
    	border-bottom: 1px solid #999;
    }

    .detail-titlebtn {
    	float: right;
    	line-height: 30px;
    	margin-right: 20px;
    	font-size: 14px;
    	color: #2175CF;
    }

    .detail-attr, .detail-demo {
    	margin: 20px 120px 20px 50px;
    }

    .detail-blockname {
    	font-size: 18px;
    	margin: 20px 0 10px 0;
    	color: #b75024;
    }

    .desc {
    	margin-top: 5px;
        text-indent: 2em;
    }

    .detail-groupname {
    	height: 30px;
    	line-height: 30px;
    	font-size: 16px;
    	color: #C93A00;
    }

    .detail-ct {
    	padding-left: 20px;
    }

    .detail-require, .detail-version {
    	background: #E7D9B7;
    	border: 1px solid #EBCB83;
    	padding: 10px 20px;
    	margin: 10px 0 20px 0;
    }

    .detail-code {
    	display: none;
    }

    .detail-demoview {
    	background: #CBCFDB;
		border: 1px solid #91B7E0;
    	padding: 10px 20px;
    	margin: 10px 0 20px 0;
    }

    .detail-require a, .detail-version a {
    	margin: 0 20px;
    }

    .detail-nowVersion {
        color: #f00;
        font-weight: bolder;
    }

    em {
    	color: #2175CF;
    	margin: 0 2px;
    }

    .detail-ct .CodeMirror {
    	height: auto;
    	background: #E7D9B7;
    	border: 1px solid #EBCB83;
    	padding: 10px 20px;
    	margin: 10px 0 20px 0;
    	color: #555;
    	font: 14px/1.5 Tahoma,Helvetica,Arial,'Microsoft YaHei',sans-serif;
    }

    .detail-codetpl {
        display: none;
    }

    .detail-subdemoview iframe{
        min-height: 330px;
    }
