button.NS_icon{
    width: 20px; 
    height: 20px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
button.NS_minus{
    background: transparent url(./images/minus_20x20.png) no-repeat;
}
button.NS_plus{
    background: transparent url(./images/plus_20x20.png) no-repeat;
}
