.COMP_task_view{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
    width: 100%;
}
.COMP_task_view th,
.COMP_task_view td{
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    border: 1px solid #e4e4e4;
    color: #999;
}
.COMP_task_view td{
    height: 29px;
}

.COMP_task_view_slash{
    border-top:30px #FFF solid;/*上边框宽度等于表格第一行行高*/ 
    width:0px;/*让容器宽度为0*/ 
    height:0px;/*让容器高度为0*/ 
    border-left:80px #f2f2f2 solid;/*左边框宽度等于表格第一行第一格宽度*/     
    position:relative;/*让里面的两个子容器绝对定位*/ 
}
.COMP_task_view_counter{
    background: #e2eee2;
    color: #333;
}
.COMP_task_view_date{
    background: #f2f2f2;
}
.COMP_task_view_slash b{
    font-weight: normal;
    top: -25px;
    left: -30px;
}

.COMP_task_view_slash em{
    top:-17px;
    left:-75px;
    font-style: normal;
}
.COMP_task_view_slash b,
.COMP_task_view_slash em{
    position: absolute;
}
.COMP_task_view .selected{
    background: #029502;
    color: #fff;
    border-color: #7ab57a;
}
.COMP_task_view .added{
    background: #84c884;
    color: #fff;
    border-color: #b8d3b8;
}
.COMP_task_view .deleted{
    background: #fe7575;
    color: #fff;
    border-color: #f0b0b0;
    text-decoration: line-through;
}
.COMP_task_view_counter span{
    display: block;
}
.COMP_task_view .defaultDays{
    
    text-decoration: line-through;
    
}
.COMP_task_view .updatedDays{
    color: #F00;
}
td.COMP_task_view_date,
td.COMP_task_view_counter,
.COMP_task_view .weekend{
    color: #333;
}
