.COMP_task_view{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
    width: 100%;
	background:#fff;
}
.COMP_task_view th,
.COMP_task_view td{
    font-size: 12px;
    font-weight: normal;
    text-align: center !important;
    padding: 5px !important;
    border: 1px solid #e4e4e4;
    color: #999;
	vertical-align:middle !important;
	line-height:1 !important;
}
.COMP_task_view td{
    height: 29px;
}

.COMP_task_view_slash{
    border-top:30px #FFF solid;/*上边框宽度等于表格第一行行高*/ 
    width:0px;/*让容器宽度为0*/ 
    height:0px;/*让容器高度为0*/ 
    border-left:80px #f2f2f2 solid;/*左边框宽度等于表格第一行第一格宽度*/     
    position:relative;/*让里面的两个子容器绝对定位*/ 
}
.COMP_task_view_counter{
    background: #e2eee2;
    color: #333;
}
.COMP_task_view_date{
    background: #f2f2f2;
}
.COMP_task_view_slash b{
    font-weight: normal;
    top: -25px;
    left: -30px;
}

.COMP_task_view_slash em{
    top:-17px;
    left:-75px;
    font-style: normal;
}
.COMP_task_view_slash b,
.COMP_task_view_slash em{
    position: absolute;
}
.COMP_task_view .selected{
    color: #fff;
    background: #029502;
    border-color: #7ab57a;
}
.COMP_task_view .added{
    color: #fff;
    background: #fe7575;
    border-color: #f0b0b0;
}
.COMP_task_view .deleted{
    color: #fff;
    background: #84c884;
    border-color: #b8d3b8;
    text-decoration: line-through;
}
.COMP_task_view_counter span{
    display: block;
}
.COMP_task_view .defaultDays{
    
    text-decoration: line-through;
    
}
.COMP_task_view .updatedDays{
    color: #F00;
}
td.COMP_task_view_date,
td.COMP_task_view_counter,
.COMP_task_view .weekend{
    color: #333;
}

.COMP_task_view_counter span{
    display: block;
}

.TaskViewerLabel {
    font-size: 12px;
    margin: 8px auto;
}

.TaskViewerLabel button{
    border: none;
    background: transparent;
    width: 16px;
    margin-right: 4px;
    height: 12px;
    margin-bottom: 4px;
    vertical-align: middle;
}

.TaskViewerLabel .lselected {
    color: #029502;
}

.TaskViewerLabel .lselected button {
    background: #029502;
}

.TaskViewerLabel label {
    margin-right: 5px;
}

.TaskViewerLabel .ladded {
    color: #fe7575;
}

.TaskViewerLabel .ladded button {
    background: #fe7575;
}

.TaskViewerLabel .ldeleted{
    color: #84c884;
    text-decoration: line-through;
}
.TaskViewerLabel .ldeleted button {
    background: #84c884;
}

