.COMP_scrollbar{
	position: absolute;
	right: 0;
	top: 0;
	background: #f2f2f2;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	width: 10px;
	padding: 0 2px;
}

.COMP_slider{
	background: #d8d8d8;
	border:1px solid #bdbdbd;
	width: 8px;
	height: 25px;
	border-radius: 2px;
	-webkit-border-radius:2px;
	position: absolute;
}

.COMP_slider:hover,
.COMP_slider_hover{
	background: #d3d3d3;
}

.COMP_slider:active,
.COMP_slider_active{
	background: #aeaeae;
}

.js_compScrollbar{
	position: relative;
	overflow: hidden;
}

.js_compScrollbar .COMP_viewport{
	position: absolute;
	left: 0;
	top: 0;
}