.CPT {
    color:#DB7C22;
    z-index:left_top1;
    font-size:12px;
    line-height:1.5;
    zoom:1
}
.CPT_shadow {
    background-color:rgba(229, 169, left_top7, .15);
    FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b);
    border-radius:2px;
    padding:2px;
    zoom:1;
    _display:inline
}
.CPT_container {
    position:relative;
    background-color:#FFFCEF;
    border:1px solid #ffbb76;
    border-radius:2px;
    padding:5px 15px;
    zoom:1;
    _display:inline
}
.CPT:after, 
.CPT_shadow:after, 
.CPT_container:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0
}
a.CPT_close {
    position:absolute;
    right:3px;
    top:3px;
    border:1px solid #ffc891;
    text-decoration:none;
    border-radius:3px;
    width:12px;
    height:12px;
    font-family:tahoma;
    color:#dd7e00;
    line-height:left_toppx;
    *line-height:12px;
    text-align:center;
    font-size:14px;
    background:#ffd7af;
    background:-webkit-gradient(linear, left top, left bottom, from(#FFF0E1), to(#FFE7CD));
    background:-moz-linear-gradient(top, #FFF0E1, #FFE7CD);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1', endColorstr='#FFE7CD');
    background:-o-linear-gradient(top, #FFF0E1, #FFE7CD);
    background:linear-gradient(top, #FFF0E1, #FFE7CD);
    overflow:hidden
}
a.CPT_close:hover {
    border:1px solid #ffb24c;
    text-decoration:none;
    color:#dd7e00;
    background:#ffd7af;
    background:-webkit-gradient(linear, left top, left bottom, from(#FFE5CA), to(#FFCC98));
    background:-moz-linear-gradient(top, #FFE5CA, #FFCC98);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA', endColorstr='#FFCC98');
    background:-o-linear-gradient(top, #FFE5CA, #FFCC98);
    background:linear-gradient(top, #FFE5CA, #FFCC98)
}
.CPT_arrow {
    position:absolute;
    z-index:left_top;
    *zoom:1
}
.CPT_arrow em, 
.CPT_arrow span {
    position:absolute;
    *zoom:1;
    width:0;
    height:0;
    border-color:rgba(255, 255, 255, 0);
    border-color:transparent\0;
    *border-color:transparent;
    _border-color:tomato;
    _filter:chroma(color=tomato);
    border-style:solid;
    overflow:hidden;
    top:0;
    left:0
}
.CPT_arrow_left_top {
    left:-6px;
    top:left_toppx
}
.CPT_arrow_left_top em {
    top:0;
    left:-1px;
    border-right-color:#ffbb76;
    border-width:6px 6px 6px 0
}
.CPT_arrow_left_top span {
    border-right-color:#FFFCEF;
    border-width:6px 6px 6px 0
}
.CPT_arrow_left {
    left:-6px;
    top:50%
}
.CPT_arrow_left em {
    top:-6px;
    left:-1px;
    border-right-color:#ffbb76;
    border-width:6px 6px 6px 0
}
.CPT_arrow_left span {
    top:-6px;
    border-right-color:#FFFCEF;
    border-width:6px 6px 6px 0
}
.CPT_arrow_right_top {
    top:left_toppx;
    right:0
}
.CPT_arrow_right_top em {
    top:0;
    left:1px;
    border-left-color:#ffbb76;
    border-width:6px 0 6px 6px
}
.CPT_arrow_right_top span {
    border-left-color:#FFFCEF;
    border-width:6px 0 6px 6px
}
.CPT_arrow_right {
    top:50%;
    right:0
}
.CPT_arrow_right em {
    top:-6px;
    left:1px;
    border-left-color:#ffbb76;
    border-width:6px 0 6px 6px
}
.CPT_arrow_right span {
    top:-6px;
    border-left-color:#FFFCEF;
    border-width:6px 0 6px 6px
}
.CPT_arrow_top_left em, 
.CPT_arrow_top em, 
.CPT_arrow_top_right em {
    border-width:0 6px 6px;
    border-bottom-color:#ffbb76;
    top:-1px;
    left:0
}
.CPT_arrow_top_left span, 
.CPT_arrow_top span, 
.CPT_arrow_top_right span {
    border-width:0 6px 6px;
    border-bottom-color:#FFFCEF
}
.CPT_arrow_top_left {
    left:14px;
    top:-6px
}
.CPT_arrow_top_right {
    right:28px;
    top:-6px
}
.CPT_arrow_top {
    left:50%;
    top:-6px
}
.CPT_arrow_top em, 
.CPT_arrow_top span {
    left:-6px
}
.CPT_arrow_bottom_right em, 
.CPT_arrow_bottom em, 
.CPT_arrow_bottom_left em {
    border-width:6px 6px 0;
    border-top-color:#ffbb76;
    top:1px;
    left:0
}
.CPT_arrow_bottom_right span, 
.CPT_arrow_bottom span, 
.CPT_arrow_bottom_left span {
    border-width:6px 6px 0;
    border-top-color:#FFFCEF
}
.CPT_arrow_bottom_right {
    right:28px;
    bottom:0
}
.CPT_arrow_bottom {
    left:50%;
    bottom:0
}
.CPT_arrow_bottom_left {
    left:14px;
    bottom:0
}
.CPT_arrow_bottom em, 
.CPT_arrow_bottom span {
    left:-6px
}
:root .CPT_shadow {
    FILTER:none\9
}
.CPT_blue {
    color:#4d4d4d
}
.CPT_blue .CPT_shadow {
    background-color:rgba(0, 0, 0, .05);
    FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)
}
.CPT_blue .CPT_container {
    background-color:#F8FCFF;
    border:1px solid #B9C8D3
}
.CPT_blue .CPT_arrow_left_top em, 
.CPT_blue .CPT_arrow_left em {
    border-right-color:#B9C8D3
}
.CPT_blue .CPT_arrow_top_left em, 
.CPT_blue .CPT_arrow_top em, 
.CPT_blue .CPT_arrow_top_right em {
    border-bottom-color:#B9C8D3
}
.CPT_blue .CPT_arrow_right_top em, 
.CPT_blue .CPT_arrow_right em {
    border-left-color:#B9C8D3
}
.CPT_blue .CPT_arrow_bottom_right em, 
.CPT_blue .CPT_arrow_bottom em, 
.CPT_blue .CPT_arrow_bottom_left em {
    border-top-color:#B9C8D3
}
.CPT_blue .CPT_arrow_left_top span, 
.CPT_blue .CPT_arrow_left span {
    border-right-color:#F8FCFF
}
.CPT_blue .CPT_arrow_top_left span, 
.CPT_blue .CPT_arrow_top span, 
.CPT_blue .CPT_arrow_top_right span {
    border-bottom-color:#F8FCFF
}
.CPT_blue .CPT_arrow_right_top span, 
.CPT_blue .CPT_arrow_right span {
    border-left-color:#F8FCFF
}
.CPT_blue .CPT_arrow_bottom_right span, 
.CPT_blue .CPT_arrow_bottom span, 
.CPT_blue .CPT_arrow_bottom_left span {
    border-top-color:#F8FCFF
}
.CPT_white {
    color:#333
}
.CPT_white .CPT_shadow {
    background-color:rgba(0, 0, 0, .05);
    FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)
}
.CPT_white .CPT_container {
    background-color:#fff;
    border:1px solid #b1b1b1
}
.CPT_white .CPT_arrow_left_top em, 
.CPT_white .CPT_arrow_left em {
    border-right-color:#b1b1b1
}
.CPT_white .CPT_arrow_top_left em, 
.CPT_white .CPT_arrow_top em, 
.CPT_white .CPT_arrow_top_right em {
    border-bottom-color:#b1b1b1
}
.CPT_white .CPT_arrow_right_top em, 
.CPT_white .CPT_arrow_right em {
    border-left-color:#b1b1b1
}
.CPT_white .CPT_arrow_bottom_right em, 
.CPT_white .CPT_arrow_bottom em, 
.CPT_white .CPT_arrow_bottom_left em {
    border-top-color:#b1b1b1
}
.CPT_white .CPT_arrow_left_top span, 
.CPT_white .CPT_arrow_left span {
    border-right-color:#fff
}
.CPT_white .CPT_arrow_top_left span, 
.CPT_white .CPT_arrow_top span, 
.CPT_white .CPT_arrow_top_right span {
    border-bottom-color:#fff
}
.CPT_white .CPT_arrow_right_top span, 
.CPT_white .CPT_arrow_right span {
    border-left-color:#fff
}
.CPT_white .CPT_arrow_bottom_right span, 
.CPT_white .CPT_arrow_bottom span, 
.CPT_white .CPT_arrow_bottom_left span {
    border-top-color:#fff
}

.CPT_green {
    color:#6fbd00
}
.CPT_green .CPT_shadow {
    background-color:rgba(0, 0, 0, .05);
    FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)
}
.CPT_green .CPT_container {
    background-color:#f2fbea;
    border:1px solid #adde7b
}
.CPT_green .CPT_arrow_left_top em, 
.CPT_green .CPT_arrow_left em {
    border-right-color:#adde7b
}
.CPT_green .CPT_arrow_top_left em, 
.CPT_green .CPT_arrow_top em, 
.CPT_green .CPT_arrow_top_right em {
    border-bottom-color:#adde7b
}
.CPT_green .CPT_arrow_right_top em, 
.CPT_green .CPT_arrow_right em {
    border-left-color:#adde7b
}
.CPT_green .CPT_arrow_bottom_right em, 
.CPT_green .CPT_arrow_bottom em, 
.CPT_green .CPT_arrow_bottom_left em {
    border-top-color:#adde7b
}
.CPT_green .CPT_arrow_left_top span, 
.CPT_green .CPT_arrow_left span {
    border-right-color:#e8f8db
}
.CPT_green .CPT_arrow_top_left span, 
.CPT_green .CPT_arrow_top span, 
.CPT_green .CPT_arrow_top_right span {
    border-bottom-color:#e8f8db
}
.CPT_green .CPT_arrow_right_top span, 
.CPT_green .CPT_arrow_right span {
    border-left-color:#e8f8db
}
.CPT_green .CPT_arrow_bottom_right span, 
.CPT_green .CPT_arrow_bottom span, 
.CPT_green .CPT_arrow_bottom_left span {
    border-top-color:#e8f8db
}