
.sug_container {
    position: relative;
}

.sug_wrapper {
    display: inline-block;
    *display: inline;
    height: 34px;
    border: 2px solid #3eaf0e;
    box-shadow: 0 2px 1px #f0f0f0;
}

.sug_input {
    width: 485px;
    height: 22px;
    margin: 5px 0 5px 8px;
    outline: 0;
    border: 0;
    background: white;
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
}

.sug_layout {
    margin: 0px 0 0 0;
    position: absolute;
    display: none;

    background: #fff;
    border: 1px solid #999;
    width: 495px;
    min-width: 200px;
}

.sug_layout dd {
    margin: 0;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    font: 14px/1.5 arial,sans-serif;
}

.sug_layout dd.active {
    background: #eee;
}

