.bdtBox{    
    width: 260px; 
    height: 19px; 
    overflow: hidden; 
    border: 1px solid #ccc; 
    padding: 1px 1px 0; 
    margin: 0; 
    background: #fff; 
    position: relative; 
}

.bdtBox-active{    
    height: auto; 
    overflow: visible; 
}

.bdtBox .bdtLabel{    
    display: block; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    padding: 0 0 0 3px; 
    margin: 0; 
    line-height: 18px; 
    color: #444; 
    margin-right: 20px; 
    cursor: pointer; 
}

.bdtBox .bdtIcon{    
    position: absolute; 
    display: block; 
    right: 1px; 
    top: 1px; 
    width: 17px; 
    height: 18px; 
    background: url(http://p5.qhimg.com/d/inn/6ec56c0d/sel-aro.png) no-repeat; 
    overflow: hidden; 
    padding: 0; 
    margin: 0; 
    font-size: 0; 
    line-height: 0; 
    float: right;
}

.bdtBox:hover .bdtIcon{    
    background-position: 0 -18px; 
}

.bdtBox-disabled{    
    border: 1px solid #ddd; 
    background: #f0f0f0; 
}

.bdtBox-disabled .bdtLabel{    
    color: #666; 
    cursor: default; 
}

.bdtBox-disabled:hover .bdtIcon{    
    background-position: 0 0; 
}

.bdtBox-disabled .bdtIcon{    
    filter: alpha(opacity=70); 
    opacity: 0.7; 
}

/*
.bdtTreeIcon{    
    position: absolute; 
    border: 1px solid #ddd; 
    width: 262px; 
    min-height: 100px; 
    _height: 100px; 
    top: 200px; 
    left: 200px; 
    background: #fff; 
    display: none; 
    margin: 0; 
}

.bdtTreeIcon .tree-wrap{    
    padding-top: 4px; 
}
*/

.bdtTreeBox{    
    display: none; 
    background: #fff; 
    width: 100%; 
    border: 1px solid #ccc; 
    position: absolute; 
    overflow-x: auto; 
}

