@charset "utf-8";
/*Reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
body,button,input,textarea{font:12px/1.5 Tahoma,Helvetica,Arial,'Microsoft YaHei',sans-serif; outline:none;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
fieldset,img{border:0;vertical-align:top;}
button,input,textarea,select{ vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#666; outline:none;}
a:hover{text-decoration:none;color:#069300;}
body{color:#666; background:url(http://p6.qhimg.com/d/inn/cc6c37f7/bodybg.png) repeat-y #fff; min-width: 1300px;}
.fl{ float:left;}
.fr{ float:right;}
.clear{clear:both;height:0;font-size:0;overflow:hidden;}
.clearfix:after{content:"020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{clear:both;zoom:1; overflow: hidden;}
.red{ color:#ff0000!important;}
.green{ color:#039401;}
.gray{ color:#999;}
.lgray{ color: #bbb;}
.blue{ color:#3399cc;}
.black{ color:#000;}
.bg_white{ background:#fff;}
.ht10,.ht18,.ht20,.ht30{ clear:both; overflow:hidden; height:10px;}
.ht18{ height:18px;}
.ht20{ height:20px;}
.ht30{ height:30px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt18{ margin-top:18px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb18{ margin-bottom:18px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.fs14{ font-size:14px;}
.fs18{ font-size:18px;}
.text-warning{ color: #c09853;}
