.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.js_compDragSelect_rect {
    position: absolute;
    border: 1px solid #aac4db;
    background: #0A246A;
    opacity: .5;
    filter: alpha( opacity = 50 );
}

.js_compDragSelect .js_cdsRealtimeEffect, .js_compDragSelect td.js_cdsRealtimeEffect {
    background: #f0dc82!important;
    color: #000!important;
}

