.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;}

.tree_container{ display: none; background: #fff; width: 100%; border: 1px solid #ccc; position: absolute;
    overflow-x: auto;
}

/*
*department select styles
*2013-05-17
*/
div.dpt-select{ float:left; width:260px; height:19px; overflow:hidden; border:1px solid #ccc; padding:1px 1px 0; margin:0; background:#fff; position:relative;}
div.dpt-select-active{ height: auto; overflow:visible; }
div.dpt-select span.label{ display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 0 0 3px; margin:0; line-height:18px; color:#444; margin-right:20px; cursor: pointer;}
div.dpt-select i{ position:absolute; display:block; right:1px; top:1px; width:17px; height:18px; background:url(http://p5.qhimg.com/d/inn/6ec56c0d/sel-aro.png) no-repeat; overflow:hidden; padding:0; margin:0;  font-size:0; line-height:0;}
div.dpt-select:hover i{ background-position: 0 -18px;}
div.dpt-select-disabled{ border:1px solid #ddd; background:#f0f0f0;}
div.dpt-select-disabled span.label{ color:#666; cursor:default;}
div.dpt-select-disabled:hover i{ background-position: 0 0;}
div.dpt-select-disabled i{ filter:alpha(opacity=70);opacity: 0.7; }

div.dpt-treeCon{position:absolute; border:1px solid #ddd; width:262px; min-height:100px; _height:100px; top:200px; left:200px; background:#fff; display:none; margin:0;}
div.dpt-treeCon .tree-wrap{ padding-top:4px;}
