
.AC_compAutoCompleteBox a { text-decoration: none; color: #333;}
.AC_compAutoCompleteBox{max-height: 300px; overflow-y: auto;}
.AC_compAutoCompleteBox{  border: 1px solid #ccc;  padding: 0;  }
.AC_compAutoCompleteBox{ margin: -1px 0 0; list-style: none; background: #fff; display: none; position: relative; }
.AC_compAutoCompleteBox li{line-height: 24px; text-indent: 3px;}

.AC_compAutoCompleteBox li.AC_active{background: #eee;}
.AC_fakebox{border-color: #4d90fe;}

