.AC_layoutBox a, .AC_box a { text-decoration: none; color: #333; }
.AC_layoutBox, .AC_box{ 
    max-height: 300px; 
    overflow-y: auto; 
    border: 1px solid #ccc;  padding: 0; 
    margin: -1px 0 0; 
    list-style: none; background: #fff; 
    display: none; 
    position: absolute; 
}

.AC_layoutBox {
    max-height: 325px; 
    overflow-y: visible; 
    margin: -1px 0 0; 
    display: none; 
}

.AC_layoutBox .AC_box{
    max-height: 300px; 
    border: none!important;  
    padding: 0; 
    margin: 0px 0 0; 
    display: block!important; 
    position: static!important;
}

.AC_box li{ line-height: 24px; text-indent: 3px; }

.AC_box li.AC_active{ background: #eee; }
.AC_fakebox{ border-color: #4d90fe; }

.AC_listItem {
    clear: both;
    cursor: pointer;
}

.AC_addtionItem{
    font-size: 13px;
    text-align: right;
    border-top: 1px dashed #ccc;  padding: 0; 
    margin: 2px 4px;
    padding-right: 0!important;
}

.AC_addtionItem div{
    margin-top: 4px;
}

.AC_customAdd{
    font-size: 13px;
    text-align: right;
    padding-right: 5px;
    float: right;
}

.AC_control{
    color: #999!important;
    cursor: pointer;
}

.AC_noData {
    padding-left: 5px;
}

.AC_center {
    text-align: center;
}

div.cacMultiSelectBarTpl {
    font-size: 13px;
    display: block;
}

.AC_box input[type=checkbox]{
    vertical-align: middle;
    text-align: left;
}

.AC_listItem label {
    display: block;
}
