.ui-sug-list a { text-decoration: none; color: #333;}
.ui-sug-ipt,
.ui-sug-list{width: 400px; max-height: 300px; overflow-y: auto;}
.ui-sug-ipt,
.ui-sug-list{  border: 1px solid #ccc;  padding: 0;  }
.ui-sug-list{ margin: -1px 0 0; list-style: none; background: #fff; display: none; position: relative; }
.ui-sug-list li{line-height: 24px; text-indent: 3px;}

.ui-sug-list li.active{background: #eee;}
.AC_fakebox{border-color: #4d90fe;}

