
input.UXCCalendar_btn{
    border:none!important;
    background: transparent url('images/Calendar.gif') no-repeat left top!important;
    width: 21px!important;
    height: 18px!important;
    cursor: pointer;
    vertical-align: middle;
}
div.UXCCalendar, div.UXCCalendar *{
    padding: 0px!important;
    margin: 0px!important;
    font: 13px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif!important;
}

div.UXCCalendar button, div.UXCCalendar select{
    cursor: pointer;
}

div.UXCCalendar{
    background: #F2F2F2!important;
    width: 232px!important;
    border:2px solid #a1a1a1;
    left: -9999px;
    top: -9999px;
    z-index: 20000;
    text-align: center;
    position: absolute;
}

div.UXCCalendar img{
    padding: 0px!important;
    margin: 0px!important;
    border:0px!important;
}

div.UXCCalendar a{
    text-decoration:none!important;
    color: #000!important;
    outline: none;
    blr:expression(this.onFocus=this.blur());
}

div.UXCCalendar .red{
    color: red;
}

div.UXCCalendar .bold{
    font-weight: bold!important;
}

div.UXCCalendar td.weekend a {
    color: #82B341!important;
}

div.UXCCalendar td.other a{
    color: #999!important;
}

div.UXCCalendar td.unable a{
    text-decoration: line-through!important;
    color: #B5B5B5!important;
    cursor: default!important;
}

div.UXCCalendar td.today{
    background:#82B341!important;
    color::#fff!important;
}

div.UXCCalendar td.today a{
    color:#fff!important;
}

div.UXCCalendar td.cur{
    background:#999!important;
    color::#fff!important;
}

div.UXCCalendar td.cur a{
    color:#fff!important;
}

div.UXCCalendar td a:hover {
    background:#ddd!important;
    color:#000!important;
}

div.UXCCalendar td.cur a:hover {
    background:#ccd!important;
    color:#000!important;
}

div.UXCCalendar table a, div.UXCCalendar th{
    padding: 5px 4px!important;
}

div.UXCCalendar .UHeader{
    margin: 4px auto 0px!important;
}

div.UXCCalendar img.UImg{
    background: transparent url('images/UpAndDown.gif') no-repeat left top!important;
    width: 13px!important;
    height: 18px!important;
    margin-top: -1px!important;
    cursor: pointer;
}

div.UXCCalendar select{
    width: 85px;
}

div.UXCCalendar table a{
    display:block!important;
}

div.UXCCalendar table{ 
    width:218px!important;
    font-family: sans-serif!important;
    font-size: 13px!important;
    border-collapse: collapse;
    margin: 0px auto!important;
}

div.UXCCalendar th, div.UXCCalendar td{
    text-align: center!important;
    vertical-align: middle!important;
}

div.UXCCalendar th{
    font-weight: bold!important;
    font-size:14px!important;
}

div.UXCCalendar tbody{
}

div.UXCCalendar tbody td{
}

div.UXCCalendar .UTableBorder{
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

div.UXCCalendar .UTableBorder td{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc; 
    padding:0!important;
}

div.UXCCalendar td{
    font-weight: normal!important;
}

div.UXCCalendar .UFooter{
    margin: 4px auto 3px!important;
}

div.UXCCalendar .UFooter button{
    cursor: pointer;
    padding: 1px 4px!important;
    margin: 0 2px!important;
}

/**
 * 日历按周展现
 */
div.UXCCalendar_week{
    width: 244px!important;
}
div.UXCCalendar_week table{
    width: 230px!important;
}
div.UXCCalendar_week .UHeader {
    padding: 2px 2px!important;
    padding-bottom: 4px!important;
}
div.UXCCalendar_week .UHeader button
, div.UXCCalendar_week .UHeader select
{
    font-size: 14px!important;
    line-height: 22px;
    height: 22px;
    vertical-align: middle;
}

div.UXCCalendar_week .UHeader button
, div.UXCCalendar_year .UPreYear
, div.UXCCalendar_year .UNextYear
{
    border: none;
    background: none;
    vertical-align: middle;
}

div.UXCCalendar_week .UHeader .UYearButton{
}
div.UXCCalendar_week .UNextYear, div.UXCCalendar_week .UNextMonth{
    float: right!important;
}

div.UXCCalendar_week .UPreYear, div.UXCCalendar_week .UPreMonth{
    float: left!important;
}
/**
 * 日历按月展现
 */
div.UXCCalendar_month{
    width: 232px!important;
}
div.UXCCalendar_month table{
    width: 218px!important;
}
div.UXCCalendar_month table td a{
    line-height: 30px!important;
}
/**
 * 日历按年展现
 */
div.UXCCalendar_year .UTable{
    margin-top: 5px!important;
}
div.UXCCalendar_year{
    width: 232px!important;
}
div.UXCCalendar_year table{
    width: 218px!important;
}
div.UXCCalendar_year table td a{
    line-height: 24px!important;
}
div.UXCCalendar_year .UYearBox{
    text-align: center;
}

div.UXCCalendar_year .UYearBox button{
    float: none!important;
}

/**
 * 日历按季度展现
 */
div.UXCCalendar_season{
    width: 232px!important;
}
div.UXCCalendar_season table{
    width: 218px!important;
}
div.UXCCalendar_season table td a{
    line-height: 55px!important;
}
/**
 * 多选日期展现
 */
div.UXCCalendar_monthday{
    width: 860px!important;
}
div.UXCCalendar_monthday table{
    width: 850px!important;
}
div.UXCCalendar_monthday .Uchkdate  td{
    height: 22px;
    line-height: 22px!important;
    vertical-align: middle!important;
}
div.UXCCalendar_monthday .Uchkdate input {
}
