
.xclear{zoom:1;}
.xclear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}

.js_macAddtionBox {
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}

.js_macAddtionBox .js_macClearAddtionList {
    font-weight: bold;
}

.js_macAddtionBox a {
    text-decoration: none;
    cursor: pointer;
    color: #529DCB;
    outline: none;
}

.js_macAddtionBoxItem {
    padding-right: 5px;
}

.js_macAddtionBoxItem:hover .AURemove{    
    background-position: -172px -380px!important; 
}

.js_macAddtionBoxItem:hover .AURemove1{    
    background-position: -75px -404px!important; 
}

.macDisable, .macDisable * {
    color: #bbb!important;
    cursor: default!important;
}

.js_macAddtionBox {
    display: block;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 10px 15px;
}

.js_macAddtionBox .popupLabel {
    font-size: 14px;
}

.js_macAddtionBoxList {
    margin-top: 10px;
}

.js_macAddtionBoxList a {
    float: left;
    width: 48%;
    text-overflow: ellipsis;
    padding-bottom: 8px;
    height: 16px;
    overflow: hidden;
    word-wrap: nowrap;
    white-space: pre;
}

.js_macAddtionBoxList button {
    margin-right: 2px;
}

